:root {
  --main-color: #9cbd07  ;
  --secondary-color: #000000;
}

html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  width: 100%;
}
.container {
  width: 90%;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  /* margin-right: auto; */
  margin: auto;
}

 @media (max-width: 300px) {
  /* .container {
    width: 360px;
  } */
}

/* start header */
/* start header */
/* start header */
.header {
  background-color: #ffffff;
}

.header .container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header img {
  width: 110px;
  margin: 0px;
  padding: 0px;

  animation-name: thebest;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

@keyframes thebest {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 20px 0;
  }

  100% {
    translate: 0 0;
  }
}

.header .container .name {
     color:  rgb(0, 0, 0);
     font-weight: lighter;
}

.header .container .name span {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
     height: 50px;
    padding-bottom: 20px;
    padding-top: -200px;
    margin-top: 0px;
  }

  .header img {
    width: 30px;
  }

  .header .container .name {
    font-size: 14px;
   }
}

 

/* start  profile */
/* start  profile */
/* start  profile */

.profile {
  background-color: var(--main-color);
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  margin-bottom: -60px;
 }

.profile .image img {
  width: 200px;
  border-radius: 50%;
}

.profile .text {
  padding-top: 10px;
  font-size: 20px;
  line-height: 0.1;
  font-weight: bolder;
}
  .profile .text p {
    font-weight: bolder;
     margin-top: 30px;
   }
@media (max-width: 500px) {
  .profile .text p {
    padding-top: 10px;
    font-size: 12px;
   }
}

.profile .text span {
  font-size: 23px;
  font-weight: 800;
  direction: rtl;
}

.profile .icon {
  padding-top: 20px;
  word-spacing: 15px;
}

.profile .icon i {
  font-size: 25px;
  color: #fff;
}

.profile .icon i:hover {
  font-size: 40px;
  color: var(--secondary-color);
      transform: scale(1.1);
   transform: scale(1.3) rotate(10deg);

    transition:   0.5s ;

}

/* start   contant */
/* start   contant */
/* start   contant */

.contant {
 
  padding-top: 50px;

  background-color: var(--main-color);

  text-align: center;
  padding-bottom: 48px;
}

.contant a {
  width: 100%;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
}

.contant .col span {
  display: none;
}

.contant .col {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffff 2px solid;
  border-radius: 100px;
}

.contant .col:hover span {
  display: inline;
  color: var(--secondary-color);
    color: #000;

}

.contant .col:hover {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000 2px solid;
  border-radius: 100px;
  background-color: #f2f2f2;
  color: #000;
    transition:   0.5s ;

}

.contant .col:hover a {
  width: 100%;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
}

.contant .col:hover i {
  color: var(--secondary-color);
    color: #000;

}

@media (min-width: 500px) {
  .contant {
    padding-top: 30px;

    background-color: var(--main-color);

    text-align: center;
    padding-bottom: 48px;
  }
  .contant .col {
    height: 50px;
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ffffff 2px solid;
    border-radius: 100px;
  }

  .contant a {
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  .contant .col:hover {
    height: 50px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ffffff 2px solid;
    border-radius: 100px;
  }
}

@media (max-width: 500px) {
  .contant {
    padding-left: 0px;
    width: 350px;

    background-color: var(--main-color);

    text-align: center;
    padding-bottom: 150px;
  }

  .contant .col {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ffffff 2px solid;
    border-radius: 100px;
  }

  .contant a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
  }
  .contant .col:hover {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ffffff 2px solid;
    border-radius: 100px;
  }

  .contant .col:hover span {
    display: none;
    color: var(--secondary-color);
  }
}
