:root {
  --main-color: #9cbd07  ;
  --secondary-color: #000000; /* أسود */
  --light-color: #fff;
  --hover-color: #ffd700; /* ذهبي */
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: var(--light-color);
  margin: 0;
  font-family: 'Cairo', sans-serif;
  text-align: center;
}

.container {
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

/* Header */
.header {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  transition: transform 3s ease;
}

.header img:hover {
}

.header .name {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.header .name span {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
    padding: 5px 0;
  }

  .header img {
    width: 40px;
  }

  .header .name {
    font-size: 14px;
    color: var(--main-color);
  }
}

/* Title */
.title {
  margin-top: 20px;
  margin-bottom: 0;
}

.title .text {
  font-size: 50px;
  color: var(--light-color);
  transition: all 0.3s ease;
}

.title .text:hover {
  color: var(--hover-color);
  font-size: 55px;
}

/* Menu */
.menu {
  margin-top: 50px;
  padding-bottom: 50px;
}

.menu .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.menu .box {
  background-color: #111;
  border-radius: 15px;
  padding: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
    height: fit-content;

}

.menu .box:hover {
  transform: scale(1.03);
  background-color: #222;
}

.menu .box h1 {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.menu .box button {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: var(--hover-color);
  color: var(--secondary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: lighter;
  font-size: 20px;
  font-weight: bolder;
 }

.menu .box button:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.menu .box img {
  width: 100%;
   border-radius: 10px;
  height: fit-content;
  display: none;
  opacity: 0.3;
  transform: scale(1);
  transition: opacity 0.6s ease, transform 0.6s ease;
    transition: opacity 10s ease, transform 10s ease;

 }

 .menu .box:hover img {
  width: 100%;
   border-radius: 10px;
  height: fit-content;
  display: none;
  opacity: 0.3;
  transform: scale(1);
     transition:  10s  ;

 }






/* Responsive for menu */
@media (max-width: 600px) {
  .menu .container {
    width: 99%;
  }

  .menu img {
    width: 100%;
    height: auto;
  }
}

/* Form section */
.container form {
  margin-top: -50px;
  padding-bottom: 30px;
}

.container form .text {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: var(--light-color);
  margin-top: 30px;
 }

.container form a {
  display: inline-block;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.container form a:hover {
  color: var(--main-color);
  background-color: var(--light-color);
  font-size: 22px;
  }


 
